
<ol class="relative border-s border-gray-200 dark:border-gray-700 mb-20">  
  
  
  <li class="mb-10 ms-4">
    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Noviembre 2020 - Actual</time>
    <h3 class="text-white text-lg font-semibold bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.20),rgba(255,255,255,0))] dark:text-white mb-1 py-1">Vendedor Independiente</h3>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">Mi pasión por la informática y las ventas, junto con mi profundo conocimiento de hardware, me permiten ofrecer soluciones personalizadas que superan las expectativas. Mantengo relaciones sólidas con proveedores confiables para ofrecer una amplia gama de productos de alta calidad. Mi enfoque centrado en el cliente garantiza una experiencia de compra fluida y un servicio excepcional.</p>
</li>
  <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Febrero 2022 - Noviembre 2023</time>
      <h3 class="text-white text-lg font-semibold bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.20),rgba(255,255,255,0))] dark:text-white mb-1 py-1">Freelance</h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Mi ambición radica en crear experiencias digitales únicas que cautiven a los usuarios y generen impacto. 
        Desde el diseño de interfaces hasta el desarrollo de soluciones que ayuden a mejorar la experiencia de cada usuario/cliente, me esfuerzo por dejar una impresión duradera en cada proyecto en el que trabajo.</p>
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
</svg></a>
  </li>

  <li class="ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">//</time>
      <h3 class="text-white text-lg font-semibold bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.20),rgba(255,255,255,0))] dark:text-white mb-1 py-1">//</h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">//</p>
  </li>
</ol>

