<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">


  <nav class="flex flex-row gap-x-10 opacity-100 text-white">
    <a class="hover:scale-110 hover:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.20),rgba(255,255,255,0))]" href="#top">Inicio</a>
    <a class="hover:scale-110 hover:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.20),rgba(255,255,255,0))]" href="#sobre-mi">Sobre mi</a>
    <a class="hover:scale-110 hover:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.20),rgba(255,255,255,0))]"href="#experiencia">Experiencia</a>
    <a class="hover:scale-110 hover:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.20),rgba(255,255,255,0))]" href="#proyectos">Proyectos</a>
    <a class="hover:scale-110 hover:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.20),rgba(255,255,255,0))]" href="#contacto">Contacto</a>
  </nav>
</header>
